.container{

height: 5px;
margin-top: 50px;

}


#inputCelsius{
   padding: 10px 20px  10px 20px;
  
    border-radius: 20px;
}
button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: blue;
    color: white;
    font-size: 30px;
    margin-left:  450px;
    border-radius: 30px;
    font-style: oblique;
    border-color: aqua;
    margin-top: 40px;
   
    
}
button:hover{
    color: blue;
}
label{
    font-size: 40px;
    margin-left: 250px;
    font-style: oblique;
    
}
h1{
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    font-weight: bolder;
    font-style: oblique;
    margin-right: 390px;
}

